@import "tailwindcss";

@import "@fontsource-variable/ibm-plex-sans";

@import "@ras-sh/ui/globals.css";
@source "../../node_modules/@ras-sh/ui";

@theme inline {
  --font-sans: "IBM Plex Sans Variable", sans-serif;
}

@media print {
  * {
    color: #09090b !important;
  }
}
