@import "tailwindcss";

@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";

@import "@ras-sh/ui/globals.css";
@source "../../node_modules/@ras-sh/ui";

@theme inline {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;
}

@media print {
  * {
    color: #09090b !important;
  }
}
