@import "tailwindcss";

@import "@fontsource-variable/geist";

@import "@ras-sh/ui/globals.css";
@source "../../node_modules/@ras-sh/ui";

@theme inline {
  --font-sans: "Geist Variable", sans-serif;
}

@media print {
  * {
    color: #09090b !important;
  }
}
